@use "../utils/breakpoints" as *;
@use "../utils/mixins" as *;

.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fafafa;

    overflow: hidden;
  }

  &__heading {
    margin-bottom: 40px;

    p {
      @include font-body-small;
    }
  }

  &__content {
    flex: 1;
    padding: 40px 40px 37px 40px;
    overflow-y: auto;

    @include respond-to(desktop, max) {
      padding: 10px;
    }

    @include respond-to(tablet, max) {
      padding: 10px;
    }

    @include respond-to(md, max) {
      padding: 10px;
    }

    @include respond-to(xm, max) {
      padding: 10px;
    }

    @include respond-to(xs, max) {
      padding: 10px;
    }
  }
}
