.badge {
    padding: 0.4rem 0.75rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 500;
    &.active {
      background-color: #d6f4e4;
      color: #178b63;
    }
    &.disabled {
      background-color: #f5d1d1;
      color: #a61717;
    }
  }
  