@use "../utils/mixins" as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input {
  @include font-body-small;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #67adb9;
  background-color: transparent;
  color: #414141;

  &:focus {
    border: 2px solid #67adb9;
    outline: none;
  }

  &:disabled {
    border-color: #eee;
    color: #999;
    background-color: #f8f8f8;
    cursor: not-allowed;
  }

  &::placeholder {
    color: #aaa;
    font-size: 0.85rem;
  }

  &--error {
    border: 1px solid #e74c3c;

    &:focus {
      border: 1px solid #e74c3c;
      box-shadow: 0 0 0 1px #e74c3c;
    }
  }
}

.input__error {
  color: #e74c3c;
  font-size: 0.75rem;
  margin-left: 4px;
  text-align: left;
}
