@use "../utils/mixins" as *;

.pie-section {
  width: 100%;
  margin-bottom: 32px;

  .ui-card {
    padding: 39px 51px 36px 51px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
