@use "../utils/mixins" as *;

.practice-section {
  h3 {
    @include font-small;
    margin-bottom: 24px;
  }

  &__scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__header {
    @include font-body-small;
    font-weight: 600;
    background-color: #f5f5f5;
    padding-left: 16px;
  }

  &__row {
    @include font-body-small;
    font-weight: 600;
    background-color: #f5f5f5;
    padding-left: 16px;
  }

  &__header,
  &__row {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 1.5fr 1.5fr 1fr;
    align-items: center;
    padding: 25px 16px;
    border-radius: 8px;
    min-width: 950px; 
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    background: #fff;
    border-top: 1px solid #eee;
    border-radius: 0 0 12px 12px;

    a {
      font-size: 0.875rem;
      color: #178a7b;
      font-weight: 500;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
