@use "../utils/breakpoints" as *;
@use "../utils/mixins" as *;

.stat-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 24px;

  @include respond-to(tablet, max) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(xs, max) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    @include font-body-small;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__growth {
    @include font-body-small;
    font-weight: 600;
    margin-bottom: 4px;

    &-text {
      margin: 0 0 4px 8px;
    }
  }

  &__value {
    @include font-large;
    margin: 0;
    line-height: 48px;
  }
}
