@use "../utils/mixins" as *;
.table-wrapper {
  width: 100%;
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;
  border-radius: 16px;

  .table {
    min-width: 768px;
  }
}
.table {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  width: 100%;

  &__header {
    @include font-body-small;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 2fr 1fr 1fr;
    padding: 16px 24px;
    background: #f3f4f6;
    font-weight: 600;
    color: #374151;
    border-radius: 8px;
    margin-bottom: 1px;
  }

  &__header-cell {
    padding: 8px 16px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}
